{% include  'header.html' %}


<div style="height:150vh;">
    <!-- {% if id %}
    <p style="font-size:20px; color:red;"> My ID is {{id}}</p>
    <p style="font-size:20px; color:red;"> My name is {{name}} </p>
    <p style="font-size:20px; color:red;"> My company is {{company}} </p>
    {% else %}
    <p style="font-size:20px; color:red;"> Data not found</p>
    {% endif %} -->

    {% for i in name %}
    <p>{{i}}</p>
    {% endfor %}  

   <!-- {% for Employee in data %}
    <p style="font-size:20px; color:red;"> <span> {{Employee.id}} {{Employee.name}} {{Employee.company}} </span></p>
    {% endfor %}   -->


    <!-- {% for Employee in data %}
    <div style = "card">   
    <div style="height: 50px; width:50px;"> <p> {{ Employee.id}} {{ Employee.name}} {{ Employee.company}} {{Employee.DOB}} {{Employee.Date}} {{Employee.State}} </div>
    </p></div>
    {% endfor %} -->
<!-- 
    <table class="table table-hover table-striped">
     <thead>
     <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
     </tr>
     </thead>
     <tbody>
    {% for Employee in data %}
    <tr>
        <td>{{Employee.id}}</td>
        <td>{{Employee.name}}</td>
        <td>{{Employee.company}}</td>
    </tr>
    {% endfor %}
    </tbody>
     </table>  -->
</div>  

{%include 'footer.html'%}

















\





