{% include 'header.html' %}

<div style="width:90%; height:500px; background-color:rgb(237, 247, 250); margin-left:70px; margin-top:50px;">
     
    <div style="height: 180; width: 150px; background-color:rgb(243, 230, 230);">
        <img src="/{{data.image}}" alt="" style="width: 100px; height:100px; margin-top:10px; margin-left:25px;" >
        <p style="border: black 1px solid; padding-left: 45px; margin-top:5px; color:black">{{data.description}}</p>
     </div>   
</div>


{% include 'footer.html' %}



